    <div id="main-bar">
        <div class="row">
            <ul class="menu" id="menu-left">
            {%for menu in menuleft%}
                <li><a href="{{path(menu.path)}}">{{menu.name}}</a></li>
            {%endfor%}
            </ul>
            <ul class="menu" id="menu-right">
            {%for menu in menuright%}
                {%if admin is defined and admin and menu.path == 'admin_login'%}
                    <li><a href="{{path('logout')}}">Se Déconnecter</a></li>
                {%else%}
                    <li><a href="{{path(menu.path)}}">{{menu.name}}</a></li>
                {%endif%}
            {%endfor%}
        </div>
    </div>
