
{%extends 'yomaahBundle:Main:base.html.twig' %}

{%block body%}

<div class="small-12 columns marge">
    {%for article in articles%}
        <input type="hidden" name="artId" value="{{article.artId}}"/>
        <div class="article rss border-article marge">
            <article class="art-titre">{{ article.artTitle }}</article>
            <figure class="art-png"><img src="{{asset('bundles/yomaah/images/'~article.png.pngUrl)}}"></img></figure>
            <article class="art-triangle"></article>
            <article class="art-date">{{ article.artDate }}</article>
            <section class="art-content">{{ article.artContent|raw}}
            </section>
        </div>
        {%endfor%}
</div>

{%endblock%}
